/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
/*font-family: Arial, Helvetica, sans-serif;*/
		font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;

		height: 100%;
}

/* Style header */
header {
  background-color:#7A9D96;
  padding: 50px;
  text-align: center;
  font-size: 40px;
  color: white;

}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 500px;
    background: #ccc;
    padding: 20px;
}

/* Style for the list inside the menu */
div.history,nav {
    list-style-type: none;
    padding: 0;
}
/*style for history on main page*/
div.history {
  float: left;
  width: 30%;
  height: 500px;
  background: #ccc;
  padding: 20px;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 500px;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A98307;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px ;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color:#7A9D96;
}


/* Style the footer */
footer {
    background-color: #A98307;
    padding: 20px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media screen (max-width: 600px) {
    div.history,nav, article {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 15.0em) and (max-width: 600px){
	h3
{
text-align: left;
font-size: 15px;
}
p{

}
}

/* for pictures*/
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}


div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
